Repository zent-contrib/zent-compat: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json, tslint --format stylish --project packages/zent-compat/scripts/cruiser/tsconfig.json, sass-lint -vq

fix: 指定 registry 更新 yarn.lock
  packages/zent-compat/assets/index.scss
  yarn.lock
Due: yarn format, sass-lint -vq

fix: run prettify
  site/scripts/gather.js
Due: yarn format, eslint

save
  packages/zent-compat/assets/table.scss
  packages/zent-compat/src/table/README_en-US.md
  packages/zent-compat/src/table/README_zh-CN.md
  packages/zent-compat/src/table/Table.tsx
  packages/zent-compat/src/table/demos/basic.md
  packages/zent-compat/src/table/demos/batch.md
  packages/zent-compat/src/table/demos/empty.md
  packages/zent-compat/src/table/demos/flexible.md
  packages/zent-compat/src/table/demos/indeterminate.md
  packages/zent-compat/src/table/demos/loading.md
  packages/zent-compat/src/table/demos/pager.md
  packages/zent-compat/src/table/demos/selection.md
  packages/zent-compat/src/table/demos/sort.md
  packages/zent-compat/src/table/demos/special.md
  packages/zent-compat/src/table/helper.ts
  packages/zent-compat/src/table/index.ts
  packages/zent-compat/src/table/modules/Body.tsx
  packages/zent-compat/src/table/modules/Foot.tsx
  packages/zent-compat/src/table/modules/Head.tsx
  packages/zent-compat/src/table/modules/Td.tsx
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json, sass-lint -vq

Add Table
  .browserslistrc
  .circleci/config.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
  packages/zent-compat/__tests__/table/batch-components.js
  packages/zent-compat/__tests__/table/combine.js
  packages/zent-compat/__tests__/table/comp/batch-components.js
  packages/zent-compat/__tests__/table/comp/combine.js
  packages/zent-compat/__tests__/table/comp/components/Card.js
  packages/zent-compat/__tests__/table/comp/components/Text.js
  packages/zent-compat/__tests__/table/comp/data/conf.js
  packages/zent-compat/__tests__/table/comp/expand.js
  packages/zent-compat/__tests__/table/comp/loading.js
  packages/zent-compat/__tests__/table/comp/simple.js
  packages/zent-compat/__tests__/table/comp/single-select.js
  packages/zent-compat/__tests__/table/expand.js
  packages/zent-compat/__tests__/table/helper.js
  packages/zent-compat/__tests__/table/loading.js
  packages/zent-compat/__tests__/table/modules.js
  packages/zent-compat/__tests__/table/simple.js
  packages/zent-compat/__tests__/table/single-select.js
  packages/zent-compat/__tests__/table/table.js
  packages/zent-compat/jest.config.json
  packages/zent-compat/package.json
  packages/zent-compat/src/i18n/en-US.tsx
  packages/zent-compat/src/i18n/locale.ts
  packages/zent-compat/src/i18n/zh-CN.tsx
  packages/zent-compat/src/table/Table.tsx
  packages/zent-compat/src/table/helper.ts
  packages/zent-compat/src/table/modules/Foot.tsx
  packages/zent-compat/src/table/modules/Head.tsx
  packages/zent-compat/src/table/modules/Td.tsx
  site/package.json
  site/scripts/gather.js
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json

Update primsjs
  .github/workflows/ci.yml
  site/package.json
  yarn.lock
Due: none

Add Table exports
  packages/zent-compat/assets/index.scss
  packages/zent-compat/src/index.ts
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json, sass-lint -vq

Add Table exports (#14)
  packages/zent-compat/assets/index.scss
  packages/zent-compat/src/index.ts
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json, sass-lint -vq

Remove utils
  packages/zent-compat/src/upload/Upload.tsx
  packages/zent-compat/src/upload/components/FileInput.tsx
  packages/zent-compat/src/upload/components/UploadLocal.ts
  packages/zent-compat/src/utils/identity.ts
  packages/zent-compat/src/utils/isPromise.ts
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json

Remove utils (#15)
  packages/zent-compat/src/upload/Upload.tsx
  packages/zent-compat/src/upload/components/FileInput.tsx
  packages/zent-compat/src/upload/components/UploadLocal.ts
  packages/zent-compat/src/utils/identity.ts
  packages/zent-compat/src/utils/isPromise.ts
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json

Fix Table demo imports
  packages/zent-compat/src/table/demos/basic.md
  packages/zent-compat/src/table/demos/batch.md
  packages/zent-compat/src/table/demos/empty.md
  packages/zent-compat/src/table/demos/flexible.md
  packages/zent-compat/src/table/demos/indeterminate.md
  packages/zent-compat/src/table/demos/loading.md
  packages/zent-compat/src/table/demos/pager.md
  packages/zent-compat/src/table/demos/selection.md
  packages/zent-compat/src/table/demos/sort.md
  packages/zent-compat/src/table/demos/special.md
Due: none

Fix Table demo imports (#16)
  packages/zent-compat/src/table/demos/basic.md
  packages/zent-compat/src/table/demos/batch.md
  packages/zent-compat/src/table/demos/empty.md
  packages/zent-compat/src/table/demos/flexible.md
  packages/zent-compat/src/table/demos/indeterminate.md
  packages/zent-compat/src/table/demos/loading.md
  packages/zent-compat/src/table/demos/pager.md
  packages/zent-compat/src/table/demos/selection.md
  packages/zent-compat/src/table/demos/sort.md
  packages/zent-compat/src/table/demos/special.md
Due: none

fix: ignore select test
  packages/zent-compat/jest.config.json
Due: none

feat: 迁移 select 组件至 zent-compat (#10)
  packages/zent-compat/__tests__/select.js
  packages/zent-compat/assets/index.scss
  packages/zent-compat/assets/select.scss
  packages/zent-compat/jest.config.json
  packages/zent-compat/src/form/form-components/SelectField.tsx
  packages/zent-compat/src/i18n/en-US.tsx
  packages/zent-compat/src/i18n/locale.ts
  packages/zent-compat/src/i18n/zh-CN.tsx
  packages/zent-compat/src/index.ts
  packages/zent-compat/src/select/Popup.tsx
  packages/zent-compat/src/select/README_en-US.md
  packages/zent-compat/src/select/README_zh-CN.md
  packages/zent-compat/src/select/Select.tsx
  packages/zent-compat/src/select/components/Option.tsx
  packages/zent-compat/src/select/components/Search.tsx
  packages/zent-compat/src/select/components/Tag.tsx
  packages/zent-compat/src/select/demos/async-filter.md
  packages/zent-compat/src/select/demos/auto-width.md
  packages/zent-compat/src/select/demos/basic.md
  packages/zent-compat/src/select/demos/callback.md
  packages/zent-compat/src/select/demos/controlled.md
  packages/zent-compat/src/select/demos/custom-text.md
  packages/zent-compat/src/select/demos/custom.md
  packages/zent-compat/src/select/demos/disable.md
  packages/zent-compat/src/select/demos/dynamic.md
  packages/zent-compat/src/select/demos/empty-text.md
  packages/zent-compat/src/select/demos/filter.md
  packages/zent-compat/src/select/demos/object-array.md
  packages/zent-compat/src/select/demos/reset.md
  packages/zent-compat/src/select/demos/retain-null-option.md
  packages/zent-compat/src/select/demos/tag.md
  packages/zent-compat/src/select/index.ts
  packages/zent-compat/src/select/trigger/BaseTrigger.tsx
  packages/zent-compat/src/select/trigger/InputTrigger.tsx
  packages/zent-compat/src/select/trigger/SimpleTrigger.tsx
  packages/zent-compat/src/select/trigger/TagsTrigger.tsx
  packages/zent-compat/src/select/trigger/index.tsx
  packages/zent-compat/src/upload/components/UploadPopup.tsx
Due: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json, sass-lint -vq

Add Cascader
  packages/zent-compat/__tests__/cascader.js
  packages/zent-compat/assets/cascader.scss
  packages/zent-compat/assets/date-range-quick-picker.scss
  packages/zent-compat/assets/datetimepicker.scss
  packages/zent-compat/assets/index.scss
  packages/zent-compat/src/cascader/Cascader.tsx
  packages/zent-compat/src/cascader/README_en-US.md
  packages/zent-compat/src/cascader/README_zh-CN.md
  packages/zent-compat/src/cascader/components/MenuContent.tsx
  packages/zent-compat/src/cascader/components/TabsContent.tsx
  packages/zent-compat/src/cascader/demos/basic.md
  packages/zent-compat/src/cascader/demos/choosen.md
  packages/zent-compat/src/cascader/demos/disabled.md
  packages/zent-compat/src/cascader/demos/dynamic.md
  packages/zent-compat/src/cascader/demos/expand.md
  packages/zent-compat/src/cascader/demos/loading.md
  packages/zent-compat/src/cascader/demos/type.md
  packages/zent-compat/src/cascader/index.ts
  packages/zent-compat/src/cascader/types.ts
  packages/zent-compat/src/i18n/en-US.tsx
  packages/zent-compat/src/i18n/locale.ts
  packages/zent-compat/src/i18n/zh-CN.tsx
  packages/zent-compat/src/index.ts
  site/src/components/search-box/style.scss
  site/src/index.js
Due: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json, sass-lint -vq

Add Cascader (#17)
  packages/zent-compat/__tests__/cascader.js
  packages/zent-compat/assets/cascader.scss
  packages/zent-compat/assets/date-range-quick-picker.scss
  packages/zent-compat/assets/datetimepicker.scss
  packages/zent-compat/assets/index.scss
  packages/zent-compat/src/cascader/Cascader.tsx
  packages/zent-compat/src/cascader/README_en-US.md
  packages/zent-compat/src/cascader/README_zh-CN.md
  packages/zent-compat/src/cascader/components/MenuContent.tsx
  packages/zent-compat/src/cascader/components/TabsContent.tsx
  packages/zent-compat/src/cascader/demos/basic.md
  packages/zent-compat/src/cascader/demos/choosen.md
  packages/zent-compat/src/cascader/demos/disabled.md
  packages/zent-compat/src/cascader/demos/dynamic.md
  packages/zent-compat/src/cascader/demos/expand.md
  packages/zent-compat/src/cascader/demos/loading.md
  packages/zent-compat/src/cascader/demos/type.md
  packages/zent-compat/src/cascader/index.ts
  packages/zent-compat/src/cascader/types.ts
  packages/zent-compat/src/i18n/en-US.tsx
  packages/zent-compat/src/i18n/locale.ts
  packages/zent-compat/src/i18n/zh-CN.tsx
  packages/zent-compat/src/index.ts
  site/src/components/search-box/style.scss
  site/src/index.js
Due: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json, sass-lint -vq

Add legacy form components for formulr
  packages/zent-compat/src/formulr/form-components/DatePickerField.tsx
  packages/zent-compat/src/formulr/form-components/DateRangePickerField.tsx
  packages/zent-compat/src/formulr/form-components/DateRangeQuickPickerField.tsx
  packages/zent-compat/src/formulr/form-components/MonthPickerField.tsx
  packages/zent-compat/src/formulr/form-components/QuarterPickerField.tsx
  packages/zent-compat/src/formulr/form-components/SelectField.tsx
  packages/zent-compat/src/formulr/form-components/TimePickerField.tsx
  packages/zent-compat/src/formulr/form-components/TimeRangePickerField.tsx
  packages/zent-compat/src/formulr/form-components/WeekPickerField.tsx
  packages/zent-compat/src/formulr/form-components/YearPickerField.tsx
  packages/zent-compat/src/formulr/form-components/index.ts
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json

Upgrade zent to v9
  packages/zent-compat/package.json
Due: none

update lockfile
  yarn.lock
Due: none

Upgrade zent to v9 (#20)
  packages/zent-compat/package.json
  yarn.lock
Due: none

use body as event target
  packages/zent-compat/__tests__/datetimepicker/DatePicker.js
  packages/zent-compat/__tests__/datetimepicker/MonthPicker.js
Due: yarn format, eslint

remove buggy test code
  packages/zent-compat/__tests__/datetimepicker/DatePicker.js
  packages/zent-compat/__tests__/datetimepicker/MonthPicker.js
Due: yarn format, eslint

Add legacy form components for formulr (#19)
  packages/zent-compat/__tests__/datetimepicker/DatePicker.js
  packages/zent-compat/__tests__/datetimepicker/MonthPicker.js
  packages/zent-compat/src/formulr/form-components/DatePickerField.tsx
  packages/zent-compat/src/formulr/form-components/DateRangePickerField.tsx
  packages/zent-compat/src/formulr/form-components/DateRangeQuickPickerField.tsx
  packages/zent-compat/src/formulr/form-components/MonthPickerField.tsx
  packages/zent-compat/src/formulr/form-components/QuarterPickerField.tsx
  packages/zent-compat/src/formulr/form-components/SelectField.tsx
  packages/zent-compat/src/formulr/form-components/TimePickerField.tsx
  packages/zent-compat/src/formulr/form-components/TimeRangePickerField.tsx
  packages/zent-compat/src/formulr/form-components/WeekPickerField.tsx
  packages/zent-compat/src/formulr/form-components/YearPickerField.tsx
  packages/zent-compat/src/formulr/form-components/index.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json

v2.0.0-beta1
  packages/zent-compat/package.json
  site/package.json
Due: none

Updates
  0.2e45530ad1347d75f150.css
  0.352854b49285c4d0f20e.css
  1-07895e219bdd57778706.js
  1-75b80bb3f10542e9584a.js
  10-75b80bb3f10542e9584a.js
  11-75b80bb3f10542e9584a.js
  12-75b80bb3f10542e9584a.js
  13-75b80bb3f10542e9584a.js
  14-75b80bb3f10542e9584a.js
  15-75b80bb3f10542e9584a.js
  16-75b80bb3f10542e9584a.js
  17-75b80bb3f10542e9584a.js
  18-75b80bb3f10542e9584a.js
  19-75b80bb3f10542e9584a.js
  2-07895e219bdd57778706.js
  2-75b80bb3f10542e9584a.js
  20-75b80bb3f10542e9584a.js
  21-75b80bb3f10542e9584a.js
  22-75b80bb3f10542e9584a.js
  23-75b80bb3f10542e9584a.js
  3-75b80bb3f10542e9584a.js
  4-07895e219bdd57778706.js
  4-75b80bb3f10542e9584a.js
  5-07895e219bdd57778706.js
  5-75b80bb3f10542e9584a.js
  6-07895e219bdd57778706.js
  6-75b80bb3f10542e9584a.js
  7-07895e219bdd57778706.js
  8-75b80bb3f10542e9584a.js
  9-75b80bb3f10542e9584a.js
  docs-07895e219bdd57778706.js
  docs-28f219ff80888a20c029.css
  docs-51479a7fd8cf3bfc87bb.css
  docs-75b80bb3f10542e9584a.js
  favico-2e036e3efaeb4f9423c4039c5127f224-.cache
  index.html
  vendor-07895e219bdd57778706.js
  vendor-75b80bb3f10542e9584a.js
Due: yarn format, eslint

fix searchbox style in doc site
  site/src/components/search-box/index.js
  site/src/components/search-box/style.scss
Due: yarn format, eslint, sass-lint -vq

fix searchbox style in doc site (#21)
  site/src/components/search-box/index.js
  site/src/components/search-box/style.scss
Due: yarn format, eslint, sass-lint -vq

Updates
  1-5f42d15b7bce15c35b85.js
  10-5f42d15b7bce15c35b85.js
  11-5f42d15b7bce15c35b85.js
  12-5f42d15b7bce15c35b85.js
  13-5f42d15b7bce15c35b85.js
  14-5f42d15b7bce15c35b85.js
  15-5f42d15b7bce15c35b85.js
  16-5f42d15b7bce15c35b85.js
  17-5f42d15b7bce15c35b85.js
  18-5f42d15b7bce15c35b85.js
  19-5f42d15b7bce15c35b85.js
  2-5f42d15b7bce15c35b85.js
  20-5f42d15b7bce15c35b85.js
  21-5f42d15b7bce15c35b85.js
  22-5f42d15b7bce15c35b85.js
  23-5f42d15b7bce15c35b85.js
  3-5f42d15b7bce15c35b85.js
  4-5f42d15b7bce15c35b85.js
  5-5f42d15b7bce15c35b85.js
  6-5f42d15b7bce15c35b85.js
  8-5f42d15b7bce15c35b85.js
  9-5f42d15b7bce15c35b85.js
  docs-5f42d15b7bce15c35b85.js
  docs-75b80bb3f10542e9584a.js
  favico-2e036e3efaeb4f9423c4039c5127f224-.cache
  index.html
  vendor-5f42d15b7bce15c35b85.js
Due: yarn format, eslint

Updates
  1-1d58f4e8744d2fb818ca.js
  10-1d58f4e8744d2fb818ca.js
  11-1d58f4e8744d2fb818ca.js
  12-1d58f4e8744d2fb818ca.js
  13-1d58f4e8744d2fb818ca.js
  14-1d58f4e8744d2fb818ca.js
  15-1d58f4e8744d2fb818ca.js
  16-1d58f4e8744d2fb818ca.js
  17-1d58f4e8744d2fb818ca.js
  18-1d58f4e8744d2fb818ca.js
  19-1d58f4e8744d2fb818ca.js
  2-1d58f4e8744d2fb818ca.js
  20-1d58f4e8744d2fb818ca.js
  21-1d58f4e8744d2fb818ca.js
  22-1d58f4e8744d2fb818ca.js
  23-1d58f4e8744d2fb818ca.js
  3-1d58f4e8744d2fb818ca.js
  4-1d58f4e8744d2fb818ca.js
  5-1d58f4e8744d2fb818ca.js
  6-1d58f4e8744d2fb818ca.js
  8-1d58f4e8744d2fb818ca.js
  9-1d58f4e8744d2fb818ca.js
  docs-1d58f4e8744d2fb818ca.js
  docs-2942b105205652be8584.css
  docs-5f42d15b7bce15c35b85.js
  favico-2e036e3efaeb4f9423c4039c5127f224-.cache
  index.html
  vendor-1d58f4e8744d2fb818ca.js
Due: yarn format, eslint

add Pop
  packages/zent-compat/__tests__/pop.js
  packages/zent-compat/assets/index.scss
  packages/zent-compat/assets/pop.scss
  packages/zent-compat/src/i18n/en-US.tsx
  packages/zent-compat/src/i18n/locale.ts
  packages/zent-compat/src/i18n/zh-CN.tsx
  packages/zent-compat/src/index.ts
  packages/zent-compat/src/pop/NoneTrigger.ts
  packages/zent-compat/src/pop/Pop.tsx
  packages/zent-compat/src/pop/README_en-US.md
  packages/zent-compat/src/pop/README_zh-CN.md
  packages/zent-compat/src/pop/demos/center-arrow.md
  packages/zent-compat/src/pop/demos/confirm.md
  packages/zent-compat/src/pop/demos/controlled.md
  packages/zent-compat/src/pop/demos/custom-confirm.md
  packages/zent-compat/src/pop/demos/delay.md
  packages/zent-compat/src/pop/demos/positions.md
  packages/zent-compat/src/pop/demos/trigger.md
  packages/zent-compat/src/pop/demos/with-pop.md
  packages/zent-compat/src/pop/index.ts
  packages/zent-compat/src/utils/getArrowPosition.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json, sass-lint -vq

Add Tooltip
  packages/zent-compat/assets/index.scss
  packages/zent-compat/assets/tooltip.scss
  packages/zent-compat/src/index.ts
  packages/zent-compat/src/tooltip/NoneTrigger.ts
  packages/zent-compat/src/tooltip/README_en-US.md
  packages/zent-compat/src/tooltip/README_zh-CN.md
  packages/zent-compat/src/tooltip/Tooltip.tsx
  packages/zent-compat/src/tooltip/demos/center-arrow.md
  packages/zent-compat/src/tooltip/demos/controlled.md
  packages/zent-compat/src/tooltip/demos/positions.md
  packages/zent-compat/src/tooltip/demos/trigger.md
  packages/zent-compat/src/tooltip/index.ts
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json, sass-lint -vq

Add Pop and Tooltip (#22)
  packages/zent-compat/__tests__/pop.js
  packages/zent-compat/assets/index.scss
  packages/zent-compat/assets/pop.scss
  packages/zent-compat/assets/tooltip.scss
  packages/zent-compat/src/i18n/en-US.tsx
  packages/zent-compat/src/i18n/locale.ts
  packages/zent-compat/src/i18n/zh-CN.tsx
  packages/zent-compat/src/index.ts
  packages/zent-compat/src/pop/NoneTrigger.ts
  packages/zent-compat/src/pop/Pop.tsx
  packages/zent-compat/src/pop/README_en-US.md
  packages/zent-compat/src/pop/README_zh-CN.md
  packages/zent-compat/src/pop/demos/center-arrow.md
  packages/zent-compat/src/pop/demos/confirm.md
  packages/zent-compat/src/pop/demos/controlled.md
  packages/zent-compat/src/pop/demos/custom-confirm.md
  packages/zent-compat/src/pop/demos/delay.md
  packages/zent-compat/src/pop/demos/positions.md
  packages/zent-compat/src/pop/demos/trigger.md
  packages/zent-compat/src/pop/demos/with-pop.md
  packages/zent-compat/src/pop/index.ts
  packages/zent-compat/src/tooltip/NoneTrigger.ts
  packages/zent-compat/src/tooltip/README_en-US.md
  packages/zent-compat/src/tooltip/README_zh-CN.md
  packages/zent-compat/src/tooltip/Tooltip.tsx
  packages/zent-compat/src/tooltip/demos/center-arrow.md
  packages/zent-compat/src/tooltip/demos/controlled.md
  packages/zent-compat/src/tooltip/demos/positions.md
  packages/zent-compat/src/tooltip/demos/trigger.md
  packages/zent-compat/src/tooltip/index.ts
  packages/zent-compat/src/utils/getArrowPosition.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json, sass-lint -vq

v2.0.0-beta2
  packages/zent-compat/package.json
Due: none

zent版本升级
  packages/zent-compat/package.json
  packages/zent-compat/src/form/utils.ts
  site/react-template.jstpl
  site/src/components/search-box/ResultList.js
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json

Path conditions:
  yarn format: (((any of: *.js) or (any of: packages/zent-compat/src/**/*.{ts,tsx})) or (any of: packages/zent-compat/scripts/cruiser/**/*.{ts,tsx})) or (any of: *.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent-compat/tsconfig.json: any of: packages/zent-compat/src/**/*.{ts,tsx}
  tslint --format stylish --project packages/zent-compat/scripts/cruiser/tsconfig.json: any of: packages/zent-compat/scripts/cruiser/**/*.{ts,tsx}
  sass-lint -vq: any of: *.scss
