Repository zent-contrib/zent-compat: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json, tslint --format stylish --project packages/zent-compat/scripts/cruiser/tsconfig.json, sass-lint -vq

zent版本升级 (#23)
  packages/zent-compat/package.json
  packages/zent-compat/src/form/utils.ts
  site/react-template.jstpl
  site/src/components/search-box/ResultList.js
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json

v2.0.0-beta3
  packages/zent-compat/package.json
Due: none

v2.0.0-beta4
  packages/zent-compat/package.json
Due: none

use same sortablejs version as zent@9
  packages/zent-compat/package.json
  packages/zent-compat/src/upload/components/UploadPopup.tsx
  packages/zent-compat/src/upload/utils/sortable.tsx
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json

use same sortablejs version as zent@9 (#24)
  packages/zent-compat/package.json
  packages/zent-compat/src/upload/components/UploadPopup.tsx
  packages/zent-compat/src/upload/utils/sortable.tsx
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json

v2.0.0-beta5
  packages/zent-compat/package.json
Due: none

Update zent to 9.0.0-beta13
  packages/zent-compat/package.json
  yarn.lock
Due: none

Update zent to 9.0.0-beta13 (#25)
  packages/zent-compat/package.json
  yarn.lock
Due: none

v2.0.0-beta6
  packages/zent-compat/package.json
Due: none

Update zent to 9.0.0-beta.24
  packages/zent-compat/__tests__/cascader.js
  packages/zent-compat/__tests__/date-range-quick-picker.js
  packages/zent-compat/__tests__/datetimepicker/DatePicker.js
  packages/zent-compat/__tests__/datetimepicker/DateRangePicker.js
  packages/zent-compat/__tests__/datetimepicker/MonthPicker.js
  packages/zent-compat/__tests__/form/CreateForm-Field.js
  packages/zent-compat/__tests__/form/CreateForm-FieldArray.js
  packages/zent-compat/__tests__/form/CreateForm-Fieldset.js
  packages/zent-compat/__tests__/form/CreateForm-FormSection.js
  packages/zent-compat/__tests__/form/CreateForm-HandleSubmit.js
  packages/zent-compat/__tests__/form/Form.js
  packages/zent-compat/__tests__/form/GetControlGroup-Component_Fields.js
  packages/zent-compat/__tests__/pop.js
  packages/zent-compat/__tests__/popover.js
  packages/zent-compat/__tests__/select.js
  packages/zent-compat/__tests__/table/batch-components.js
  packages/zent-compat/__tests__/table/combine.js
  packages/zent-compat/__tests__/table/expand.js
  packages/zent-compat/__tests__/table/loading.js
  packages/zent-compat/__tests__/table/modules.js
  packages/zent-compat/__tests__/table/simple.js
  packages/zent-compat/__tests__/table/single-select.js
  packages/zent-compat/__tests__/table/table.js
  packages/zent-compat/package.json
  packages/zent-compat/scripts/build.sh
  packages/zent-compat/src/upload/components/UploadLocal.ts
  postcss.config.js
  site/package.json
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json

Update zent to 9.0.0-beta.24 (#26)
  packages/zent-compat/__tests__/cascader.js
  packages/zent-compat/__tests__/date-range-quick-picker.js
  packages/zent-compat/__tests__/datetimepicker/DatePicker.js
  packages/zent-compat/__tests__/datetimepicker/DateRangePicker.js
  packages/zent-compat/__tests__/datetimepicker/MonthPicker.js
  packages/zent-compat/__tests__/form/CreateForm-Field.js
  packages/zent-compat/__tests__/form/CreateForm-FieldArray.js
  packages/zent-compat/__tests__/form/CreateForm-Fieldset.js
  packages/zent-compat/__tests__/form/CreateForm-FormSection.js
  packages/zent-compat/__tests__/form/CreateForm-HandleSubmit.js
  packages/zent-compat/__tests__/form/Form.js
  packages/zent-compat/__tests__/form/GetControlGroup-Component_Fields.js
  packages/zent-compat/__tests__/pop.js
  packages/zent-compat/__tests__/popover.js
  packages/zent-compat/__tests__/select.js
  packages/zent-compat/__tests__/table/batch-components.js
  packages/zent-compat/__tests__/table/combine.js
  packages/zent-compat/__tests__/table/expand.js
  packages/zent-compat/__tests__/table/loading.js
  packages/zent-compat/__tests__/table/modules.js
  packages/zent-compat/__tests__/table/simple.js
  packages/zent-compat/__tests__/table/single-select.js
  packages/zent-compat/__tests__/table/table.js
  packages/zent-compat/package.json
  packages/zent-compat/scripts/build.sh
  packages/zent-compat/src/upload/components/UploadLocal.ts
  postcss.config.js
  site/package.json
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json

update zent to v9.0.0-beta.26
  packages/zent-compat/package.json
  yarn.lock
Due: none

add I18nLocaleRangePicker
  packages/zent-compat/src/i18n/en-US.tsx
  packages/zent-compat/src/i18n/locale.ts
  packages/zent-compat/src/i18n/zh-CN.tsx
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json

use yarnpkg registry
  yarn.lock
Due: none

update zent to v9
  packages/zent-compat/package.json
  yarn.lock
Due: none

update zent (#27)
  packages/zent-compat/package.json
  packages/zent-compat/src/i18n/en-US.tsx
  packages/zent-compat/src/i18n/locale.ts
  packages/zent-compat/src/i18n/zh-CN.tsx
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json

v2.0.0
  packages/zent-compat/package.json
Due: none

feat: form 添加 willScrollToError, 支持设置 scroll offset
  packages/zent-compat/__tests__/form/Utils.js
  packages/zent-compat/src/form/README_en-US.md
  packages/zent-compat/src/form/README_zh-CN.md
  packages/zent-compat/src/form/createForm.tsx
  packages/zent-compat/src/form/handleSubmit.ts
  packages/zent-compat/src/form/utils.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json

feat: form 添加 willScrollToError, 支持设置 scroll offset (#28)
  packages/zent-compat/__tests__/form/Utils.js
  packages/zent-compat/src/form/README_en-US.md
  packages/zent-compat/src/form/README_zh-CN.md
  packages/zent-compat/src/form/createForm.tsx
  packages/zent-compat/src/form/handleSubmit.ts
  packages/zent-compat/src/form/utils.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json

feat: form 添加 willScrollToError, 支持设置 scroll offset (#29)
  packages/zent-compat/__tests__/form/Utils.js
  packages/zent-compat/src/form/README_en-US.md
  packages/zent-compat/src/form/README_zh-CN.md
  packages/zent-compat/src/form/createForm.tsx
  packages/zent-compat/src/form/handleSubmit.ts
  packages/zent-compat/src/form/utils.ts
Due: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json

v1.2.0
  packages/zent-compat/package.json
Due: none

删除 fibers
  site/package.json
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint

v2.1.0
  packages/zent-compat/package.json
Due: none

deploy: 6a214f31cc9eef70488099945adde5aa0e2900fd
  1-8b80ac6700899ae17303.js
  10-8b80ac6700899ae17303.js
  11-8b80ac6700899ae17303.js
  12-8b80ac6700899ae17303.js
  13-8b80ac6700899ae17303.js
  14-8b80ac6700899ae17303.js
  15-8b80ac6700899ae17303.js
  16-8b80ac6700899ae17303.js
  17-8b80ac6700899ae17303.js
  18-8b80ac6700899ae17303.js
  19-8b80ac6700899ae17303.js
  2-8b80ac6700899ae17303.js
  20-8b80ac6700899ae17303.js
  21-8b80ac6700899ae17303.js
  22-8b80ac6700899ae17303.js
  23-8b80ac6700899ae17303.js
  24-8b80ac6700899ae17303.js
  25-8b80ac6700899ae17303.js
  26-8b80ac6700899ae17303.js
  27-8b80ac6700899ae17303.js
  3-8b80ac6700899ae17303.js
  4-8b80ac6700899ae17303.js
  5-8b80ac6700899ae17303.js
  6-8b80ac6700899ae17303.js
  8-8b80ac6700899ae17303.js
  9-8b80ac6700899ae17303.js
  docs-78bbeebbb25191062b58.js
  docs-8b80ac6700899ae17303.js
  favico-2e036e3efaeb4f9423c4039c5127f224-.cache
  index.html
  vendor-8b80ac6700899ae17303.js
Due: yarn format, eslint

sync gh-pages to gitee after deploy
  .github/workflows/release.yml
Due: none

upgrade prismjs
  site/package.json
  yarn.lock
Due: none

sync gh-pages to gitee after deploy (#30)
  .github/workflows/release.yml
Due: none

upgrade prismjs (#31)
  site/package.json
  yarn.lock
Due: none

Add changelogs
  packages/zent-compat/CHANGELOG.md
  packages/zent-compat/README_en-US.md
  packages/zent-compat/README_zh-CN.md
  packages/zent-compat/RELEASE_zh-CN.md
  site/scripts/gather.js
  site/src/nav.static.js
Due: yarn format, eslint

Add changelogs (#32)
  packages/zent-compat/CHANGELOG.md
  packages/zent-compat/README_en-US.md
  packages/zent-compat/README_zh-CN.md
  packages/zent-compat/RELEASE_zh-CN.md
  site/scripts/gather.js
  site/src/nav.static.js
Due: yarn format, eslint

upgrade zent and ts version
  packages/zent-compat/package.json
  packages/zent-compat/plugins/postcss-plugin-constants.js
  packages/zent-compat/scripts/build.sh
  postcss.config.js
  site/package.json
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint

upgrade zent and ts version (#33)
  packages/zent-compat/package.json
  packages/zent-compat/plugins/postcss-plugin-constants.js
  packages/zent-compat/scripts/build.sh
  postcss.config.js
  site/package.json
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint

fix: Field asyncValidation definition
  packages/zent-compat/src/form/Field.tsx
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json

fix: Field asyncValidation definition (#34)
  packages/zent-compat/src/form/Field.tsx
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json

v2.1.1
  packages/zent-compat/RELEASE_zh-CN.md
  packages/zent-compat/package.json
Due: none

feat: 新增v10不兼容改动组件
  packages/zent-compat/assets/link.scss
  packages/zent-compat/assets/tree.scss
  packages/zent-compat/src/link/Link.tsx
  packages/zent-compat/src/link/README_en-US.md
  packages/zent-compat/src/link/README_zh-CN.md
  packages/zent-compat/src/link/demos/1-basic.md
  packages/zent-compat/src/link/index.ts
  packages/zent-compat/src/tree/README_en-US.md
  packages/zent-compat/src/tree/README_zh-CN.md
  packages/zent-compat/src/tree/Tree.tsx
  packages/zent-compat/src/tree/components/Loading.tsx
  packages/zent-compat/src/tree/demos/array-data.md
  packages/zent-compat/src/tree/demos/async.md
  packages/zent-compat/src/tree/demos/basic.md
  packages/zent-compat/src/tree/demos/custom-node.md
  packages/zent-compat/src/tree/demos/custom-operate.md
  packages/zent-compat/src/tree/demos/option.md
  packages/zent-compat/src/tree/demos/size.md
  packages/zent-compat/src/tree/index.ts
  packages/zent-compat/src/tree/utils/common.ts
  packages/zent-compat/src/tree/utils/correctExpand.ts
  packages/zent-compat/src/tree/utils/correctMark.ts
  packages/zent-compat/src/tree/utils/createStateByProps.ts
  packages/zent-compat/src/tree/utils/getJudgeInfo.ts
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json, sass-lint -vq

v2.2.0-beta.1
  packages/zent-compat/package.json
Due: none

Path conditions:
  yarn format: (((any of: *.js) or (any of: packages/zent-compat/src/**/*.{ts,tsx})) or (any of: packages/zent-compat/scripts/cruiser/**/*.{ts,tsx})) or (any of: *.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent-compat/tsconfig.json: any of: packages/zent-compat/src/**/*.{ts,tsx}
  tslint --format stylish --project packages/zent-compat/scripts/cruiser/tsconfig.json: any of: packages/zent-compat/scripts/cruiser/**/*.{ts,tsx}
  sass-lint -vq: any of: *.scss
