Repository zent-contrib/zent-compat: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json, tslint --format stylish --project packages/zent-compat/scripts/cruiser/tsconfig.json, sass-lint -vq

chore: 增加主入口导出
  packages/zent-compat/src/index.ts
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json

新增v10不兼容改动组件 (#41)
  packages/zent-compat/assets/link.scss
  packages/zent-compat/assets/tree.scss
  packages/zent-compat/package.json
  packages/zent-compat/src/index.ts
  packages/zent-compat/src/link/Link.tsx
  packages/zent-compat/src/link/README_en-US.md
  packages/zent-compat/src/link/README_zh-CN.md
  packages/zent-compat/src/link/demos/1-basic.md
  packages/zent-compat/src/link/index.ts
  packages/zent-compat/src/tree/README_en-US.md
  packages/zent-compat/src/tree/README_zh-CN.md
  packages/zent-compat/src/tree/Tree.tsx
  packages/zent-compat/src/tree/components/Loading.tsx
  packages/zent-compat/src/tree/demos/array-data.md
  packages/zent-compat/src/tree/demos/async.md
  packages/zent-compat/src/tree/demos/basic.md
  packages/zent-compat/src/tree/demos/custom-node.md
  packages/zent-compat/src/tree/demos/custom-operate.md
  packages/zent-compat/src/tree/demos/option.md
  packages/zent-compat/src/tree/demos/size.md
  packages/zent-compat/src/tree/index.ts
  packages/zent-compat/src/tree/utils/common.ts
  packages/zent-compat/src/tree/utils/correctExpand.ts
  packages/zent-compat/src/tree/utils/correctMark.ts
  packages/zent-compat/src/tree/utils/createStateByProps.ts
  packages/zent-compat/src/tree/utils/getJudgeInfo.ts
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json, sass-lint -vq

v2.2.0
  packages/zent-compat/RELEASE_zh-CN.md
  packages/zent-compat/package.json
Due: none

fix: 更新 select/cascader 箭头样式
  packages/zent-compat/assets/cascader.scss
  packages/zent-compat/assets/link.scss
  packages/zent-compat/assets/select.scss
  packages/zent-compat/assets/tree.scss
  packages/zent-compat/package.json
  packages/zent-compat/src/cascader/Cascader.tsx
  site/package.json
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json, sass-lint -vq

fix: 补上漏掉的tree & link 样式输出
  packages/zent-compat/assets/index.scss
Due: yarn format, sass-lint -vq

fix: zent@9.9.0更新了语义化变量会影响样式, 暂时锁版本到9.8.0
  packages/zent-compat/assets/cascader.scss
  packages/zent-compat/package.json
  yarn.lock
Due: yarn format, sass-lint -vq

fix: 箭头颜色修改
  packages/zent-compat/assets/cascader.scss
Due: yarn format, sass-lint -vq

fix: select,table,cascader颜色相对兼容新版设计语言
  packages/zent-compat/assets/cascader.scss
  packages/zent-compat/assets/select.scss
  packages/zent-compat/assets/table.scss
Due: yarn format, sass-lint -vq

fix: 更新 select、cascader、table 样式，贴近新版设计语言 (#47)
  packages/zent-compat/assets/cascader.scss
  packages/zent-compat/assets/index.scss
  packages/zent-compat/assets/link.scss
  packages/zent-compat/assets/select.scss
  packages/zent-compat/assets/table.scss
  packages/zent-compat/assets/tree.scss
  packages/zent-compat/package.json
  packages/zent-compat/src/cascader/Cascader.tsx
  site/package.json
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json, sass-lint -vq

v2.2.1
  .huskyrc
  packages/zent-compat/package.json
Due: none

v2.2.1
  packages/zent-compat/package.json
Due: none

deploy: 8c3749099f55dae2716e09b445e685dcce043860
  1-09aa571c9b8e9585b3e3.js
  10-09aa571c9b8e9585b3e3.js
  11-09aa571c9b8e9585b3e3.js
  12-09aa571c9b8e9585b3e3.js
  13-09aa571c9b8e9585b3e3.js
  14-09aa571c9b8e9585b3e3.js
  15-09aa571c9b8e9585b3e3.js
  16-09aa571c9b8e9585b3e3.js
  17-09aa571c9b8e9585b3e3.js
  18-09aa571c9b8e9585b3e3.js
  19-09aa571c9b8e9585b3e3.js
  2-09aa571c9b8e9585b3e3.js
  20-09aa571c9b8e9585b3e3.js
  21-09aa571c9b8e9585b3e3.js
  22-09aa571c9b8e9585b3e3.js
  23-09aa571c9b8e9585b3e3.js
  24-09aa571c9b8e9585b3e3.js
  25-09aa571c9b8e9585b3e3.js
  26-09aa571c9b8e9585b3e3.js
  27-09aa571c9b8e9585b3e3.js
  28-09aa571c9b8e9585b3e3.js
  29-09aa571c9b8e9585b3e3.js
  3-09aa571c9b8e9585b3e3.js
  30-09aa571c9b8e9585b3e3.js
  31-09aa571c9b8e9585b3e3.js
  32-09aa571c9b8e9585b3e3.js
  33-09aa571c9b8e9585b3e3.js
  34-09aa571c9b8e9585b3e3.js
  4-09aa571c9b8e9585b3e3.js
  5-09aa571c9b8e9585b3e3.js
  6-09aa571c9b8e9585b3e3.js
  7-09aa571c9b8e9585b3e3.js
  9-09aa571c9b8e9585b3e3.js
  docs-09aa571c9b8e9585b3e3.js
  docs-98e726da369b7c1fbe35.js
  favico-2e036e3efaeb4f9423c4039c5127f224-.cache
  index.html
  vendor-09aa571c9b8e9585b3e3.js
Due: yarn format, eslint

feat: 升级 zent 版本应用最新语义化变量 & 支持样式隔离
  .browserslistrc
  .eslintignore
  .sass-lint.yml
  package.json
  packages/zent-compat/assets/_animation.scss
  packages/zent-compat/assets/cascader.scss
  packages/zent-compat/assets/tree.scss
  packages/zent-compat/package.json
  packages/zent-compat/plugins/constants.js
  packages/zent-compat/plugins/postcss-plugin-constants.js
  packages/zent-compat/plugins/postcss-plugin-version-attribute.js
  packages/zent-compat/plugins/ts-plugin-constants.ts
  packages/zent-compat/plugins/ts-plugin-version-attribute.ts
  packages/zent-compat/scripts/build.sh
  packages/zent-compat/src/index.ts
  packages/zent-compat/src/link/demos/1-basic.md
  packages/zent-compat/src/popover/Content.tsx
  packages/zent-compat/src/portal/MountElement.ts
  packages/zent-compat/src/portal/Portal.tsx
  packages/zent-compat/src/portal/PurePortal.tsx
  packages/zent-compat/src/portal/README_en-US.md
  packages/zent-compat/src/portal/README_zh-CN.md
  packages/zent-compat/src/portal/context.ts
  packages/zent-compat/src/portal/demos/basic.md
  packages/zent-compat/src/portal/index.ts
  packages/zent-compat/src/portal/util.ts
  packages/zent-compat/src/tree/demos/array-data.md
  packages/zent-compat/src/tree/demos/async.md
  packages/zent-compat/src/tree/demos/basic.md
  packages/zent-compat/src/tree/demos/custom-node.md
  packages/zent-compat/src/tree/demos/custom-operate.md
  packages/zent-compat/src/tree/demos/option.md
  packages/zent-compat/src/tree/demos/size.md
  packages/zent-compat/src/utils/dom/createElement.ts
  packages/zent-compat/tsconfig.json
  postcss.config.js
  site/package.json
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json, sass-lint -vq

chore: enable ts-ignore
  packages/zent-compat/tslint.json
Due: none

fix: 修复 yarn.lock 源地址 & 不导出 portal
  packages/zent-compat/src/index.ts
  packages/zent-compat/src/portal/README_zh-CN.md
  packages/zent-compat/src/portal/demos/basic.md
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json

fix: 修复 yarn.lock 源地址
  yarn.lock
Due: none

fix: form 不加样式隔离
  packages/zent-compat/plugins/postcss-plugin-version-attribute.js
Due: yarn format, eslint

chore: bump zent to 10.0.0
  packages/zent-compat/package.json
  yarn.lock
Due: none

upgrade zent10 & support style isolation (#49)
  .browserslistrc
  .eslintignore
  .sass-lint.yml
  package.json
  packages/zent-compat/assets/_animation.scss
  packages/zent-compat/assets/cascader.scss
  packages/zent-compat/assets/tree.scss
  packages/zent-compat/package.json
  packages/zent-compat/plugins/constants.js
  packages/zent-compat/plugins/postcss-plugin-constants.js
  packages/zent-compat/plugins/postcss-plugin-version-attribute.js
  packages/zent-compat/plugins/ts-plugin-constants.ts
  packages/zent-compat/plugins/ts-plugin-version-attribute.ts
  packages/zent-compat/scripts/build.sh
  packages/zent-compat/src/link/demos/1-basic.md
  packages/zent-compat/src/popover/Content.tsx
  packages/zent-compat/src/portal/MountElement.ts
  packages/zent-compat/src/portal/Portal.tsx
  packages/zent-compat/src/portal/PurePortal.tsx
  packages/zent-compat/src/portal/README_en-US.md
  packages/zent-compat/src/portal/README_zh-CN.md
  packages/zent-compat/src/portal/context.ts
  packages/zent-compat/src/portal/demos/basic.md
  packages/zent-compat/src/portal/index.ts
  packages/zent-compat/src/portal/util.ts
  packages/zent-compat/src/tree/demos/array-data.md
  packages/zent-compat/src/tree/demos/async.md
  packages/zent-compat/src/tree/demos/basic.md
  packages/zent-compat/src/tree/demos/custom-node.md
  packages/zent-compat/src/tree/demos/custom-operate.md
  packages/zent-compat/src/tree/demos/option.md
  packages/zent-compat/src/tree/demos/size.md
  packages/zent-compat/src/utils/dom/createElement.ts
  packages/zent-compat/tsconfig.json
  packages/zent-compat/tslint.json
  postcss.config.js
  site/package.json
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json, sass-lint -vq

v2.3.0
  packages/zent-compat/RELEASE_zh-CN.md
  packages/zent-compat/package.json
Due: none

fix: 修复因zent中的api变更引起的引用问题
  packages/zent-compat/package.json
  packages/zent-compat/src/portal/Portal.tsx
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json

fix: 修改yarn.lock里的注册表源
  yarn.lock
Due: none

fix(Portal): fix zent utils SCROLLBAR_WIDTH migrate to measureScrollbar (#56)
  packages/zent-compat/package.json
  packages/zent-compat/src/portal/Portal.tsx
  yarn.lock
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json

chore: opt publish npm yml
  .github/workflows/release.yml
Due: none

chore: opt publish npm yml (#57)
  .github/workflows/release.yml
Due: none

docs: release 2.3.1
  packages/zent-compat/RELEASE_zh-CN.md
Due: none

Path conditions:
  yarn format: (((any of: *.js) or (any of: packages/zent-compat/src/**/*.{ts,tsx})) or (any of: packages/zent-compat/scripts/cruiser/**/*.{ts,tsx})) or (any of: *.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent-compat/tsconfig.json: any of: packages/zent-compat/src/**/*.{ts,tsx}
  tslint --format stylish --project packages/zent-compat/scripts/cruiser/tsconfig.json: any of: packages/zent-compat/scripts/cruiser/**/*.{ts,tsx}
  sass-lint -vq: any of: *.scss
