Repository zent-contrib/zent-compat: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, tslint --format stylish --project packages/zent-compat/tsconfig.json, tslint --format stylish --project packages/zent-compat/scripts/cruiser/tsconfig.json, sass-lint -vq

Fix lint
  README.md
  package.json
Due: none

Fix lint
  package.json
Due: none

update
  README.md
Due: none

v1.0.0
  packages/zent-compat/package.json
Due: none

Updates
  2-5f3df432386de8243978.js
  3-5f3df432386de8243978.js
  docs-0859bb5cadd69b312a0d.js
  docs-5f3df432386de8243978.js
  favico-2e036e3efaeb4f9423c4039c5127f224-.cache
  index.html
  vendor-5f3df432386de8243978.js
Due: yarn format, eslint

Fix links
  .circleci/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  scripts/test-component.sh
  site/src/components/page-header/index.js
Due: yarn format, eslint

Updates
  2-9f746f5fada39da5b000.js
  3-9f746f5fada39da5b000.js
  docs-5f3df432386de8243978.js
  docs-9f746f5fada39da5b000.js
  favico-2e036e3efaeb4f9423c4039c5127f224-.cache
  index.html
  vendor-9f746f5fada39da5b000.js
Due: yarn format, eslint

fix validations type
  packages/zent-compat/src/form/Field.tsx
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json

fix `createForm` type
  packages/zent-compat/src/form/createForm.tsx
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json

v1.0.1
  packages/zent-compat/package.json
Due: none

fix zent version
  packages/zent-compat/package.json
  scripts/publish.sh
Due: none

v1.0.2
  packages/zent-compat/package.json
Due: none

Update zent
  yarn.lock
Due: none

fix zent import
  packages/zent-compat/package.json
  packages/zent-compat/scripts/compile-style.js
  packages/zent-compat/src/form/demos/async-validate.md
  packages/zent-compat/src/form/demos/basic.md
  packages/zent-compat/src/form/demos/buildin-field.md
  packages/zent-compat/src/form/demos/cutom-field.md
  packages/zent-compat/src/form/demos/field-array.md
  packages/zent-compat/src/form/demos/fieldset.md
  packages/zent-compat/src/form/demos/form-section.md
  packages/zent-compat/src/form/demos/format.md
  packages/zent-compat/src/form/demos/layout.md
  packages/zent-compat/src/form/demos/multi-value.md
  packages/zent-compat/src/form/demos/other-operation.md
  packages/zent-compat/src/form/demos/submit.md
  packages/zent-compat/src/form/demos/validate-time.md
  packages/zent-compat/src/form/demos/validate.md
  site/src/index.js
  site/webpack/webpack.config.js
  yarn.lock
Due: yarn format, eslint

fix tests
  packages/zent-compat/jest.config.json
  packages/zent-compat/package.json
  yarn.lock
Due: none

fix zent version
  packages/zent-compat/package.json
  yarn.lock
Due: none

v1.0.3
  packages/zent-compat/package.json
Due: none

Updates
  0.7fb8d74ba3777e4aedaa.css
  1-bdd1333a5c5f52d74a1a.js
  2-9f746f5fada39da5b000.js
  3-9f746f5fada39da5b000.js
  3-bdd1333a5c5f52d74a1a.js
  4-bdd1333a5c5f52d74a1a.js
  docs-1a7186a9f92476411c48.css
  docs-9f746f5fada39da5b000.js
  docs-bdd1333a5c5f52d74a1a.js
  favico-2e036e3efaeb4f9423c4039c5127f224-.cache
  index.html
  vendor-9f746f5fada39da5b000.js
  vendor-bdd1333a5c5f52d74a1a.js
Due: yarn format, eslint

Apply babel-plugin-zent for es output files
  packages/zent-compat/package.json
  packages/zent-compat/scripts/build.sh
  packages/zent-compat/scripts/transform.js
  yarn.lock
Due: yarn format, eslint

v1.0.4
  packages/zent-compat/package.json
Due: none

fix: 补充 input 和 select 在 form 中校验失败时的 has-error 相关样式
  packages/zent-compat/assets/form.scss
  yarn.lock
Due: yarn format, sass-lint -vq

v1.0.5
  packages/zent-compat/package.json
Due: none

fix: add old Upload component
  packages/zent-compat/assets/upload.scss
  packages/zent-compat/src/i18n/I18nContext.ts
  packages/zent-compat/src/i18n/I18nProvider.ts
  packages/zent-compat/src/i18n/I18nReceiver.ts
  packages/zent-compat/src/i18n/default.ts
  packages/zent-compat/src/i18n/en-US.tsx
  packages/zent-compat/src/i18n/index.ts
  packages/zent-compat/src/i18n/locale.ts
  packages/zent-compat/src/i18n/zh-CN.tsx
  packages/zent-compat/src/upload/README_en-US.md
  packages/zent-compat/src/upload/README_zh-CN.md
  packages/zent-compat/src/upload/Upload.tsx
  packages/zent-compat/src/upload/components/FileInput.tsx
  packages/zent-compat/src/upload/components/UploadImageItem.tsx
  packages/zent-compat/src/upload/components/UploadLocal.ts
  packages/zent-compat/src/upload/components/UploadPopup.tsx
  packages/zent-compat/src/upload/constants.ts
  packages/zent-compat/src/upload/demos/basic.md
  packages/zent-compat/src/upload/demos/voice.md
  packages/zent-compat/src/upload/index.ts
  packages/zent-compat/src/upload/utils/file-type/README.md
  packages/zent-compat/src/upload/utils/file-type/index.ts
  packages/zent-compat/src/upload/utils/index.ts
  packages/zent-compat/src/upload/utils/sortable.tsx
  packages/zent-compat/src/utils/identity.ts
  packages/zent-compat/src/utils/isPromise.ts
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json, sass-lint -vq

fix: add upload and i18n to index
  packages/zent-compat/src/index.ts
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json

Update error style
  packages/zent-compat/assets/form.scss
Due: yarn format, sass-lint -vq

only update selected field
  packages/zent-compat/src/form/createForm.tsx
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json

Update error style (#7)
  packages/zent-compat/assets/form.scss
Due: yarn format, sass-lint -vq

guard null
  packages/zent-compat/src/form/createForm.tsx
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json

update doc
  packages/zent-compat/src/form/README_en-US.md
  packages/zent-compat/src/form/README_zh-CN.md
Due: none

fix doc
  packages/zent-compat/src/form/README_en-US.md
  packages/zent-compat/src/form/README_zh-CN.md
Due: none

only update selected field (#8)
  packages/zent-compat/src/form/README_en-US.md
  packages/zent-compat/src/form/README_zh-CN.md
  packages/zent-compat/src/form/createForm.tsx
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json

添加旧版 Upload 相关代码 (#9)
  packages/zent-compat/assets/upload.scss
  packages/zent-compat/src/i18n/I18nContext.ts
  packages/zent-compat/src/i18n/I18nProvider.ts
  packages/zent-compat/src/i18n/I18nReceiver.ts
  packages/zent-compat/src/i18n/default.ts
  packages/zent-compat/src/i18n/en-US.tsx
  packages/zent-compat/src/i18n/index.ts
  packages/zent-compat/src/i18n/locale.ts
  packages/zent-compat/src/i18n/zh-CN.tsx
  packages/zent-compat/src/index.ts
  packages/zent-compat/src/upload/README_en-US.md
  packages/zent-compat/src/upload/README_zh-CN.md
  packages/zent-compat/src/upload/Upload.tsx
  packages/zent-compat/src/upload/components/FileInput.tsx
  packages/zent-compat/src/upload/components/UploadImageItem.tsx
  packages/zent-compat/src/upload/components/UploadLocal.ts
  packages/zent-compat/src/upload/components/UploadPopup.tsx
  packages/zent-compat/src/upload/constants.ts
  packages/zent-compat/src/upload/demos/basic.md
  packages/zent-compat/src/upload/demos/voice.md
  packages/zent-compat/src/upload/index.ts
  packages/zent-compat/src/upload/utils/file-type/README.md
  packages/zent-compat/src/upload/utils/file-type/index.ts
  packages/zent-compat/src/upload/utils/index.ts
  packages/zent-compat/src/upload/utils/sortable.tsx
  packages/zent-compat/src/utils/identity.ts
  packages/zent-compat/src/utils/isPromise.ts
Due: yarn format, tslint --format stylish --project packages/zent-compat/tsconfig.json, sass-lint -vq

add missing deps
  packages/zent-compat/package.json
Due: none

v1.1.0
  packages/zent-compat/package.json
Due: none

Updates
  0.7fb8d74ba3777e4aedaa.css
  0.ac73ef1503b8af7d33ec.css
  1-aacf4639e52033f65bba.js
  1-bdd1333a5c5f52d74a1a.js
  3-aacf4639e52033f65bba.js
  3-bdd1333a5c5f52d74a1a.js
  4-aacf4639e52033f65bba.js
  4-bdd1333a5c5f52d74a1a.js
  5-aacf4639e52033f65bba.js
  6-aacf4639e52033f65bba.js
  docs-727463fbf12dce1f114b.css
  docs-aacf4639e52033f65bba.js
  docs-bdd1333a5c5f52d74a1a.js
  favico-2e036e3efaeb4f9423c4039c5127f224-.cache
  index.html
  vendor-aacf4639e52033f65bba.js
  vendor-bdd1333a5c5f52d74a1a.js
Due: yarn format, eslint

fix demos
  packages/zent-compat/assets/index.scss
  packages/zent-compat/package.json
  packages/zent-compat/src/upload/demos/basic.md
  packages/zent-compat/src/upload/demos/voice.md
  yarn.lock
Due: yarn format, sass-lint -vq

update zent
  packages/zent-compat/package.json
  yarn.lock
Due: none

Updates
  0.2e45530ad1347d75f150.css
  1-07895e219bdd57778706.js
  1-aacf4639e52033f65bba.js
  2-07895e219bdd57778706.js
  3-aacf4639e52033f65bba.js
  4-07895e219bdd57778706.js
  4-aacf4639e52033f65bba.js
  5-07895e219bdd57778706.js
  5-aacf4639e52033f65bba.js
  6-07895e219bdd57778706.js
  6-aacf4639e52033f65bba.js
  7-07895e219bdd57778706.js
  docs-07895e219bdd57778706.js
  docs-51479a7fd8cf3bfc87bb.css
  docs-aacf4639e52033f65bba.js
  favico-2e036e3efaeb4f9423c4039c5127f224-.cache
  index.html
  vendor-07895e219bdd57778706.js
  vendor-aacf4639e52033f65bba.js
Due: yarn format, eslint

Path conditions:
  yarn format: (((any of: *.js) or (any of: packages/zent-compat/src/**/*.{ts,tsx})) or (any of: packages/zent-compat/scripts/cruiser/**/*.{ts,tsx})) or (any of: *.scss)
  eslint: any of: *.js
  tslint --format stylish --project packages/zent-compat/tsconfig.json: any of: packages/zent-compat/src/**/*.{ts,tsx}
  tslint --format stylish --project packages/zent-compat/scripts/cruiser/tsconfig.json: any of: packages/zent-compat/scripts/cruiser/**/*.{ts,tsx}
  sass-lint -vq: any of: *.scss
